:root{
    --main:#f39200;
    --sec:#524438;
    --third:#B9A89A;
    --forth:#0071dc;
}

html{
    margin:0px;
    padding:0px;
    width:100vw;
}
body{
    margin:0;
    height: 100vh;
    text-align: center;
    font-family: 'Cairo', sans-serif;
    padding:0px;
    width:100vw;
    position: relative;
    overflow-x: hidden;
    background-color:#f4f3ee;
}
#fixed{
    background: conic-gradient(at 0% 0%, snow, orange);
    margin-bottom: 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-top: 1px solid gray;
}
#fixed h1{
    width:100%!important;
    margin:0;
}
#r2 form{
    width:90%;
    margin-top:25px;
    margin-bottom:25px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    flex-direction: row-reverse;
    margin-right: 5%;
    margin-left: 5%;
    position: relative;
    gap:40px;
    padding-bottom:150px
}
.hidden{
    display:none;
}
#r2 fieldset{
    flex-basis: 100%;
    /*box-shadow: #141A46 0px 0px 0px 2px, #141A46 0px 0px 6px -1px, #141A46 0px 0px 0px inset;*/
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border: 0px;
    /*box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #ffe2b2 0px 0px 0px 3px;*/
    position: relative;
    padding:50px 0px 0px 0px;
    margin-bottom: 30px;
    flex-basis:25%;
    background: #524438;;
    transition: 0.6s;
    height: fit-content;
}

#r2 fieldset::after{
    content:'الأكثر';
    position:absolute;
    left:21%;
    top:0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color:white;
    padding:5px;
    text-shadow: 0 0 1px gray;
    font-size:1.2rem!important;
    height:80%;
    z-index:0;
}
#r2 fieldset::before{
    content:'الاقل';
    position:absolute;
    left:4.5%;
    color:white;
    top:0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding:5px;
    font-size:1.2rem!important;
    text-shadow: 0 0 1px gray;
    height:80%;
    z-index:0;
}
#r2 legend{
    background: conic-gradient(at 0% 0%, snow, white);
    color: black;
    border-radius: 500px;
    width: 35px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right:10px;
    top:-15px;
    cursor: default;
    transition: 0.6s;
    height: 39px;
    box-shadow: rgb(6 24 44 / 40%) 0px 0px 0px 2px, rgb(6 24 44 / 65%) 0px 4px 6px -1px, rgb(255 255 255 / 8%) 0px 1px 0px inset;
    font-size:1.1rem!important
}

#r2 legend:hover{
    background:conic-gradient(at 0% 0%, snow, orange);
}

#r2 #sub{
    width:215px;
    height:54px;
    color:white;
    border-radius:30px;
    border:0px;
    font-size: 1.5rem;
    font-family: inherit;
    margin-top:25px;
    cursor:pointer;
    position: absolute;
    bottom:0;
    background-color: var(--sec);
    margin-bottom:100px;
}

#r2 span{
    text-align: end;
}

#r2 fieldset > div{
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size:1.2rem
}
/*
fieldset > div::after{
    position: absolute;
    height:100%;
    width:0px;
    border-left:1px solid gray;
    top:0;
    left:83px;
    content: '';
}*/

#r2 fieldset div div{
    display:flex;
    flex-direction: row-reverse;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
    padding: 10px;
    position: relative;
    align-items: center;
    background: conic-gradient(at 0% 0%, snow, orange);
    color: #101820ff;
    z-index:2;
}
#r2 input{
    height: 25px;
    width: 42px;
    cursor: pointer;
}

#r2 fieldset div div label{
    flex-basis: 20%;
}
#r2 fieldset div div span{
    flex-basis: 80%;
}


@media(min-width:1677px){
    #r2 form{
        font-size:2rem;}
}
@media(max-width:1677px){
    #r2 form{
        font-size:1.8rem;}
}
@media(min-width:1497px){
    #r2 form{
        font-size:1.8rem;}
}
@media(max-width:1497px){
    #r2 form{
        font-size:1.5rem;}
}
@media(max-width:1414px){
    #r2 form{
        width:95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    #r2 form fieldset{
        flex-basis:30%;
        font-size:1rem!important;
    }
    #r2 form fieldset>div{
        flex-basis:30%;
        font-size:1rem!important;
    }
}
@media(min-width:1263px){
    #r2 form{
        font-size:1.5rem;}
}
@media(max-width:1263px){
    #r2 form{
        font-size:1.1rem;}
}
/*@media(min-width:400px){
    form{
        font-size:1.1rem;}
}*/
@media(max-width:400px){
    #r2 form{
        font-size:0.7rem;}
}

@media(max-width:975px){
    #r2 form fieldset{
        flex-basis:45%
    }
}
@media(max-width:780px){
    #r2 form fieldset>div{
        font-size:0.9rem
    }
}
@media(max-width:670px){
    #r2 form fieldset{
        flex-basis:90%
    }
}
